<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">This is a community-driven and community run website. Note: This is not an official website for the neighborhood. Simply a planning and coordination tool for us to live together, better.</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      Founded in <a class="orange-text text-lighten-3" href="https://github.com/SMontague29">Denver, CO</a>
    </div>
  </div>