<nav class="lighten-1" role="navigation">
  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="">
        </div>
        <a href="/profile"><img class="miniUserPic userPic" src="/profile_pic" style="width: 100px"></a>
        <a href="/profile"><span class="username" id="username-quote"></span></a>
        <a href="#"><span>Update Profile</span></a>
      </div>
    </li>
    <li><a href="/profile"><i class="material-icons">account_circle</i>My Profile</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="/toolbox">Toolbox</a></li>
    <li><a class="waves-effect" href="/logistics">Logistics</a></li>
    <li><a class="waves-effect" href="/services">Services</a></li>
    <li><a class="waves-effect" href="/alerts">Alerts</a></li>
    <li><a class="waves-effect" href="/logout">Log Out</a></li>
  </ul>
  <div class="nav-wrapper" id="navbar">
    <button data-activates="slide-out" class="button-toggle-profile waves-effect waves-light btn " id="button-toggle-profile">Navigate Willow Crossing</button>
    <a id="logo-container" href="/" class="brand-logo"><i class="material-icons homeBtn">Home</i></a>
    <!-- Dropdown Structure -->


    <ul id="dropdown1" class="dropdown-content">
      <li><a href="badges.html">About</a></li>
      <li class="divider"></li>
      <li><a href="#!">Contact</a></li>
      <li class="divider"></li>
      <li><a href="#!">Disclaimer</a></li>
    </ul>
    <!--Added a place for the menu items to collapse into on smaller screens -->
    <ul class="right show-on-med-and-down hide-on-large-only  ">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
    </ul>
  </div>
</nav>
