<div class="modal bottom-sheet" id="signInModal">
<div class="modal-content">
    <h2 class="form-signin-heading" style="font-family: 'Gloria Hallelujah'">Please login</h2>
    <form class="form-signin">
      <div id="error-div"></div>
      <input type="text" class="form-control" name="username" placeholder="Username" id="login-name" required="" autofocus="" />
      <input type="password" class="form-control" name="password" id="login-password" placeholder="Password" required="" />
      <input type="checkbox" id="rememberMe"/>
      <label for="rememberMe">Remember Me</label>
      <br>
      <button class="btn" type="submit"  name="action" id="login-btn">Login</button>
    </form>
    <div class="modal-footer">
      <p>Need an account? <a href="/signup">Signup</a></p>
      <p>Or go <a href="/">home</a>.</p>
    </div>

</div>
</div>
