<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

    <body>
            <% include ../partials/navigation %>
        <div class="container" style="background-color: black; width: 100%; max-width: 100%; margin-right:0; margin-left:0">
            <div class="section center-align">
                <img src="/media/404.jpg" alt="Sorry can't find that!" class="404">
            </div>
        </div>

    <footer class="page-footer">
        <% include ../partials/footer%>
      </footer>

    </body>

</html>
