<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>


<body>
  <!--navigation-->
  <% include ../partials/navigation %>

  <div class="section no-pad-bot petBackground" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center col s6"><img class="mainLogo animated bounceIn" src="/media/Petopair.png"></h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to Willow Crossing!</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="signUpButton" class="btn-large waves-effect waves-light">Sign Up</a>
        <a class="btn-large waves-effect waves-light modal-trigger" href="#signInModal">Login</a>
        <!--model start-->
        <% include ../partials/signInModal %>
        <!--model end-->
      </div>
    </div>
  </div>

    <footer class="page-footer">
    <% include ../partials/footer%>
    </footer>



</body>


</html>
