<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>

<body>
  <!--navigation-->
  <% include ../partials/navigation %>
    <!-- end nav -->

    <div class="col 1g10 m10 s10">
        <div class="well" id="well-section">
        <h3>Swaging Tool:</h3><p>Steven Montague</p>
        <% include ../partials/bulletin %>
        </div>
    </div>

    <footer class="page-footer">
    <% include ../partials/footer %>
    </footer>
</body>
</html>